.download-item, .incoming-item {
  padding: $spacer;

  + .download-item, .incoming-item {
    border-top: 1px solid $border-color;
  }

  &.selected {
    background: $selected-background-color;
  }

  .download-item-name, .incoming-item-name {
    @extend .text-ellipsis;
    font-size: 1em;
  }

  .download-item-row {
    display: flex;
    padding: 4px 0;

    .download-item-col {
      font-size: 0.75em;
      flex-basis: 100%;
    }
  }
}