table.data-table {
  max-width: 100%;
  width: 100%;
  table-layout: fixed;
  text-align: left;

  tr {
    th, td {
      font-size: 0.75em;
      padding: 0.5em;

      &.nowrap {
        @extend .text-ellipsis;
      }
    }

    &.selected {
      background: $selected-background-color;
    }
  }

  &.vertical-align-top {
    tr {
      td, th {
        @extend .vertical-align-top;
      }
    }
  }

  &.vertical-align-middle {
    tr {
      td, th {
        @extend .vertical-align-middle;
      }
    }
  }

  &.vertical-align-bottom {
    tr {
      td, th {
        @extend .vertical-align-bottom;
      }
    }
  }
}